<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.casebeaumonde">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Translucent"
        android:usesCleartextTraffic="true">
        <service
            android:name=".TokenIntentService"
            android:exported="false"></service>

        <activity android:name=".activities.paymentScreen.CardDetailScreen" />
        <activity android:name=".fragments.profile.ViewProfile" />
        <activity android:name=".activities.addItemtoCLoset.AddItemToCloset" />
        <activity android:name=".activities.eventDetail.EventDetailScreen" />
        <activity android:name=".activities.myWall.MyWall" />
        <activity android:name=".activities.ClosetItem.ClosetsItems" />
        <activity android:name=".activities.myclosets.MyClosets" />
        <activity android:name=".activities.myGigs.MyGigs" />
        <activity android:name=".activities.notifications.Notifications" />
        <activity android:name=".activities.OnBoardScreen" />
        <activity
            android:name=".activities.businessRegister.BusinessRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.userRegister.RegisterActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.casebeaumonde.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activities.login.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>

</manifest>