<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.casebeaumonde">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Translucent"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.ackasClient.clientClosetsItems.ClientClosetItems"></activity>
        <activity android:name=".activities.ackasClient.clientClosets.ClientClosets" />
        <activity android:name=".fragments.contracts.ContractActivity" />
        <activity android:name=".fragments.contracts.detail.DetailPage" />
        <activity android:name=".activities.addItemtoEvent.AddItemToEvent" />
        <activity android:name=".activities.addnewevent.AddNewEventActivity" />
        <activity android:name=".activities.MyEventDetailScreen.MyEventDetailScreen" />
        <activity android:name=".activities.MyEvents.MyEventsActivity" />
        <activity android:name=".activities.ShopItems.ShopItemsActivity" />
        <activity android:name=".activities.b_questionaries.b_colorPicker.B_ColorPicker" />
        <activity android:name=".activities.b_questionaries.b_colorPicker1.B_ColorPicker1" />
        <activity android:name=".fragments.contracts.Offers_Activity" />
        <activity android:name=".fragments.contracts.WorkInvitation_Activity" />
        <activity
            android:name=".activities.influencer_questionaries.InfluencerQuestionaries2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.influencer_questionaries.InfluencerQuestionaries1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.biz_questionaries.Biz_Questionaries4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.biz_questionaries.Biz_Questionaries3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.biz_questionaries.Biz_Questionaries2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.biz_questionaries.Biz_Questionaries1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.b_questionaries.like_CBM.Like_CBM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.myoutfitsdetail.AddNewOutfitItem"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.myoutfitsdetail.MyOutfitsItems"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.myoutfits.MyOutfits"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.b_questionaries.fashionevents.B_FashionEventsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.b_questionaries.b_basicInfo1.B_BasicInfoActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.b_questionaries.b_basicInfo.B_BasicInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.b_questionaries.tellusmore.B_Tell_US_MORE"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.b_questionaries.selectbrands.B_SelectBrands"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.b_questionaries.B_GetStartedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.paymentscreen_b.PaymentScreenBussiness"
            android:label="@string/title_activity_payment_screen_bussiness"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent.NoActionBar" />
        <activity
            android:name=".activities.register.userRegister.BussinessRegisterTypeScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.cart.adapter.ThanksScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.cart.PaymentScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.cart.PersonalInfoScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.questionaries.selectStores.SelectStores"
            android:colorMode="default"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.questionaries.describeyourself.DescribeYourself"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.questionaries.selectbrands.SelectBrands"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.questionaries.uploadBodyType.UploadBodyTypeImage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.questionaries.SelectBodyTalk"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.questionaries.colorScreen.ColorPickerScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.questionaries.TellAboutYourSelf"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activities.questionaries.GetStartedActivity" />
        <activity
            android:name=".activities.forgotPassword.ForgotActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activities.register.userRegister.RegisterTypeScreen" />
        <activity
            android:name=".activities.openchat.SendChat"
            android:label="@string/title_activity_send_chat"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent.NoActionBar" />
        <activity
            android:name=".activities.EventsInvitations.EventsInvitations"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.paymenthistory.PaymentHistory"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.myContracts.MyContracts"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.paymentScreen.CardDetailScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".fragments.profile.ViewProfile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.addItemtoCLoset.AddItemToCloset"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.eventDetail.EventDetailScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.myWall.MyWall"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.ClosetItem.ClosetsItems"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.myclosets.MyClosets"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.myGigs.MyGigs"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.notifications.Notifications"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.OnBoardScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.businessRegister.BusinessRegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.register.userRegister.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.casebeaumonde.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activities.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>